body {
    background-color: lightblue;
    margin:20px;
}
h1 {
    font-size: 60px;
    color: black;
    text-align: center;
}
ul{
    list-style:none;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
#new-todo{
    border: none;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
#write_button{
    margin: 0px 10px;
    position: absolute;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}
#header{
    color: white;
    text-align: center;
}
#result{
    width:92%;
    margin: 0px 50px
}
.delete{
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
}
.delete:hover {
    background-color: #f44336;
    color: white;
}

input[type=checkbox] + label {
  color: black;
} 
input[type=checkbox]:checked + label {
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}
.editTextbox{
    border: none;
    width: 70%;
    font-size: 16px;
}
#info{
    font-size: 10px;
    margin:auto;
    text-align: center;
}